        <div class="sidebar" >
          <ng-container *ngIf="device!==3 && !mobileModeOn">
          <h3>Device</h3>
          <ul class="list-group">
            <li class="cat-all"
            [class.active]="device===2"
            (click)="onSelectDevice(2); $event.stopPropagation()">
               iOS Universal
            </li>
            <li class="cat-all"
            [class.active]="device===0"
            (click)="onSelectDevice(0); $event.stopPropagation()">
               iPhone
            </li>
            <li class="cat-all"
            [class.active]="device===1"
            (click)="onSelectDevice(1); $event.stopPropagation()">
               iPad
            </li>            
          </ul>
          </ng-container>
          <h3>Categories</h3>
          <ul class="list-group">
            <li *ngFor="let cat of categories" 
            class="cat-all {{cat.class}}"
            [class.active]="cat.id===catId"
            (click)="onSelectCat(cat.id); $event.stopPropagation()">
              {{cat.name}}
            </li>
          </ul>
        </div>
