  <h2>{{title}}</h2>
  <button type="button" class="" (click)="showMenu()">
    Categories
  </button> 
    <div [class.slide-wrapper]="mobileModeOn" [class.row]="!mobileModeOn" >
      <div [class.slide-item]="mobileModeOn" [class.col-sm-3]="!mobileModeOn"      
      [@showMenu]="menuState"
      (@showMenu.done)="showMenuDone($event)"
      [class.sliding]="isSlidingRight">
      <app-menu [(device)]="selectedDevice" (catIdChange)="onSelectCat($event)"></app-menu>
      </div>
      <div [class.slide-item]="mobileModeOn" [class.col-sm-9]="!mobileModeOn"
      [@hideMenu]="viewState"
      (@hideMenu.done)="hideMenuDone($event)"
      [class.sliding]="isSlidingLeft">
        <div class="code-box ng-isolate-scope">
          <header class="code-box-header">
            <nav class="code-box-nav">
              <button [class.selected]="selectedPrice===0" (click)="onSelectPrice(0)">&nbsp;   Все   &nbsp;</button>
              <button [class.selected]="selectedPrice===1" (click)="onSelectPrice(1)">Бесплатные</button>
              <button [class.selected]="selectedPrice===2" (click)="onSelectPrice(2)">Платные</button>
            </nav>
          </header>            
        <app-list [apps]="apps"></app-list>      
      </div>
      <div style="padding: 10px 0px">        
        <button class="btn btn-default btn-lg btn-block"
        (click)="loadMore();"
        [disabled]="isLoading">{{isLoading ? "Loading..." : "Load More"}}</button>
      </div>
    </div>
  </div>