        <div class="" >
          <h3>Device</h3>
          <ul class="list-group">
            <li class="list-group-item"
            [class.active]="device===0"
            (click)="onSelectDevice(0); $event.stopPropagation()">
              <span class="badge">{{device}}</span> iPhone
            </li>
            <li class="list-group-item"
            [class.active]="device===1"
            (click)="onSelectDevice(1); $event.stopPropagation()">
              <span class="badge">{{device}}</span> iPad
            </li>
          </ul>
          <h3>Categories</h3>
          <ul class="list-group">
            <li *ngFor="let cat of categories" 
            class="list-group-item"
            [class.active]="cat.id===catId"
            (click)="onSelectCat(cat.id); $event.stopPropagation()">
              <span class="badge">{{cat.id}}</span> {{cat.name}}
            </li>
          </ul>
        </div>
