<div class="list-group" style="text-align: center">
  <button type="button" href="#" (click)="navigateTo('deals');" style="width:100%"
  class="list-group-item">Скидки iOS</button>
  <button href="#" (click)="navigateTo('deals-mac');" style="width:100%"
  class="list-group-item">Скидки Mac</button>
  <button href="#" (click)="navigateTo('top-apps');" style="width:100%"
  class="list-group-item">Топ приложений</button>
  <button (click)="navigateTo('newest-apps');" style="width:100%"
  class="list-group-item">Новинки в App Store</button>
  <button type="button" (click)="cancel()" style="width:100%"
  class="list-group-item list-group-item-info" 
  >Cancel</button> 
</div>
